<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <div class="container">
      <h1>Edit Your Task!</h1>
      Current Task: {{task}}
      <form class="" action="/edit" method="post">
        <input type="text" name="edit" value="" placeholder="Enter your edit">
        <button type="submit" name="submit" value={{id}}>Submit!</button>
      </form>
    </div>
  </body>
</html>
