<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>To Do List</title>
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>
  <div class="container">
    <h1>To Do List!</h1>

    <form class="task" action="/" method="post">
      <input class="task-input" type="text" name="task" value="">
      <input class="add-button" type="submit" name="submit" value="Add!">
    </form>

    <div class="incompletes">
      <form class="incomplete" action="/" method="post">
        {{#todos}}
        {{^completed}}
          <div class="incomplete-task">
            <button class="complete-button" type="submit" name="complete" value="{{id}}">Mark Complete</button>
            <p class="item">{{task}}
              <p>
                <button type="submit" name="delete" value="{{id}}">Delete Task</button>
                  <a href="/edit/{{id}}">Edit</a>
          </div>
          {{/completed}}
              {{/todos}}
      </form>
    </div>


    <div class="complete">
      <h3>Completed</h3>
      <form class="delete" action="/delete" method="post">
        <input type="submit" name="delete" value="Remove Completed Tasks"></button>
      </form>
      {{#todos}}
      {{#completed}}
        <div class="completed-item">
          {{task}}
        </div>
      {{/completed}}
    {{/todos}}
    </div>
  </div>
</body>

</html>
